
<nav class="navbar navbar-expand-lg navbar-dark  blue darken-2 ">

  <a class="navbar-brand" href="/">
    <img src="https://avatars.githubusercontent.com/u/89441139?v=4" height="55" alt="mdb logo">
  </a>
  <h3>CODIT</h3>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="basicExampleNav">

    <ul class="navbar-nav mr-auto">
      
        <li class="nav-item">
            <a class="nav-link active" aria-current= "page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Select Category</a>
            <div class="dropdown-menu dropdown-primary " aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item"  href="/posts/html">HTML</a>
              <a class="dropdown-item"  href="/posts/css">CSS</a>
              <a class="dropdown-item"  href="/posts/bootstrap">Bootstrap</a>
              <a class="dropdown-item"  href="/posts/javascript">JavaScript</a>
              <a class="dropdown-item"  href="/posts/jquery">JQuery</a>
              <a class="dropdown-item"  href="/posts/angular">Angular</a>
              <a class="dropdown-item"  href="/posts/Python-Flask">Python-Flask</a>
              <a class="dropdown-item"  href="/posts/Python-Django">Python-Django</a>
              <a class="dropdown-item"  href="/posts/Java-Spark">Java-Spark</a>
              <a class="dropdown-item"  href="/posts/Android">Android</a>
              <a class="dropdown-item"  href="/posts/c">C</a>
              <a class="dropdown-item"  href="/posts/c++">C++</a>
              <a class="dropdown-item"  href="/posts/others">Other posts</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.posts',language = language)}}">Posts
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.new_post')}}"><b>Post Question</b></a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
          </li>
      </ul>
    

    <div class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
      <li>
        <img class="rounded-circle account-img" height="35" href="{{url_for('auth.account')}}" src="{{ image_file }}">
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">My Account</a>
        <div class="dropdown-menu dropdown-primary " aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"  href="{{url_for('auth.account')}}">Profile</a>
          <a class="dropdown-item"  href="/">Posts</a>
          <a class="dropdown-item"  href="/posts/bootstrap">Starred</a>
          <a class="dropdown-item"  href="/posts/javascript">Answers</a>
          <a class="dropdown-item"  href="/posts/jquery">Comments</a>
        </div>
      </li>
      <a class="nav-item nav-link" href="{{url_for('auth.logout')}}">Log out</a>

     {% else %}
      <a class="nav-item nav-link" href="{{url_for('auth.login')}}">Login</a>
      <a class="nav-item nav-link" href="{{url_for('auth.register')}}">Register</a>
      {% endif %}
    </div>

</nav>
